<table border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td class="rounded bg-powder-100 h:bg-powder-300">
            <a href="{{ data.url }}" class="rounded bg-powder-100 text-powder-700 font-sans block no-underline text-base leading-tight border border-solid border-powder-500 py-10 px-12 hover:bg-powder-300 hover:border-powder-800" style="box-shadow: inset 0 1px 0 0 rgba(255,255,255,.7);">{{ data.text }}</a>
        </td>
    </tr>
</table>
